@charset "utf-8";

body {
    background: blue;
}

.header {
    position: relative;
    text-align: center;
}

.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-icons img {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

body {
    background-color: #f4f4f4;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    margin: 0;}

    .logo {
    height: 60px;
    margin: 0 auto 10px auto;
    margin-top: 30px;
    padding: 20px;
}

a{
   text-decoration: none;
   color: orange;
}

h1, h2, h3 {
    margin: 0;
}

h3 {
   font-size: 15px;
   color: dimgray;
   padding: 0
}

#container {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.content {
    padding: 0;
}

.topnav {
    background-color: lightgreen;
}

.topnav ul {
    margin: 0;
    padding: 0;
}

.topnav ul::after {
    content: "";
    display: block;
    clear: both;
}
.topnav li {
    list-style: none;
    float: left;
}

.topnav a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: lightblue;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    top: 100%;
    left: 0;
    z-index: 10;
}

.dropdown-content a {
    display: block;
    padding: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slider img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  animation: fade 12s infinite;
} 

.slider {
  position: relative;
  height: 300px;
  overflow: hidden;
  z-index: 1;
}

.flex-container,
.footer {
  position: relative;
  z-index: 2;
}

@keyframes fade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

.slider img:nth-child(1) { animation-delay: 0s; }
.slider img:nth-child(2) { animation-delay: 4s; }
.slider img:nth-child(3) { animation-delay: 8s; }

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 40px;
}

.flexitem img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.flexitem {
    width: 32%;
    height: 240px;
    background-color: white;
    border: 2px solid #ddd;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px 40px;
}

.about-image {
    flex: 0 0 300px; 
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-text p {
    margin-top: 10px;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.flavors-section {
    text-align: center;
    padding: 40px 20px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.flavors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.flavor-card {
    text-align: center;
}

.flavor-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.flavor-card:hover img {
    transform: scale(1.05);
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: darkorange;
}


.order-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    max-width:900px;
    margin:40px auto;
    padding:30px;
    background:#f3f3f3;
    border-radius:10px;
    margin-top: 40px;
}

.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.order-box{
  background-color: #f7931e;
  padding: 20px;
  border-radius: 8px;
}

.form-box {
  background-color: #f7931e;
  padding: 20px;
  border-radius: 8px;
}

.form-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-box select,
.form-box input,
.form-box textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.order-btn {
  grid-column: span 2;
  padding: 15px;
  background-color: #f7931e;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.order-btn {
    display:block;
    margin:30px auto;
    padding:15px 50px;
    font-weight:bold;
}

.ingredients {
  margin-top: 50px;
}

.ingredient-grid {
    margin-bottom: 50px;
}

.ingredients h2 {
    text-align: center;
    margin-bottom: 30px;
}

.ingredient-card {
    background: white;
    padding: 20px;
    border:1px solid #ddd;
    border-radius: 8px;
}

 .ingredient-card h4{
    font-size:24px;
    font-weight:bold;
    color:#e67e22;
    margin-bottom:18px;
}


.ingredient-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.allergy-note{
    text-align:center;
    margin-top:30px;
    font-weight:bold;
    margin-bottom:40px;
}



.contact-container {
  background: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
}

.contact-container h1 {
  color: #ff6600;
}

.subtitle {
  margin-bottom: 30px;
  color: #555;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  text-align: center;
}

.contact-info div {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 5px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row input {
  flex: 1;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
   width: 100%;
  box-sizing: border-box;
}


input:focus, textarea:focus {
  outline: none;
  border-color: #ff6600;
}

button {
  background: #ff6600;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #e65c00;
}

.response-time {
  font-size: 12px;
  color: #777;
}



.mission-box {
    background-color: orange;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    line-height: 1.4;
}

.mission-text {
    font-style: italic;
    margin-bottom: 15px;
}

.mission-box .btn {
    background-color: whitesmoke;
    color: orange;
}

.mission-box .btn:hover {
    background-color: #333;
}

.subscribe-box {
    background-color: white;
    text-align: left;
}

.subscribe-box .btn{
    border: none;
}

.subscribe-text {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.subscribe-box input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.footer {
    position: relative;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer p {
    text-align: center;
    font-size: 14px;
}

.footer-logo {
     height: 60px;
    margin: 0 auto 10px auto;
    margin-top: 10px;
    padding: 0px;
}

.footer {
    position: relative;
}

.footer-socials {
    position: absolute;
    right: 20px;
    top: 15px;
}

.footer-socials img {
    width: 25px;
    margin-left: 10px;
}

